@model List<EscolaDeVoce.Services.ViewModel.EspecialistViewModel>

@{
    ViewData["Title"] = "Especialistas";
}

@section scripts {
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
    </script>
}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categorias</h3>
  </div>
  <div class="panel-body">
      <div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a asp-controller="Especialist" asp-action="Detail" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo</a>
      </div>
      <br />
    <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Ações</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach (var especialist in Model)
        {
            <tr>
                <td>@especialist.Id</td>
                <td>@especialist.name</td>
                <td><img src="~/images/specialists/@especialist.image" alt="" style="height: 60px"></td>
                <td>
                    <a href="/especialist/detail/@especialist.Id"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> | 
                    <a asp-controller="Especialist" asp-action="Delete" asp-route-id="@especialist.Id"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>

  </div>
</div>